@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #fffaf5;
}

* {
  box-sizing: border-box;
}
